html{
    background-color:azure;
}
header{
text-align: center;
color:gray;
}
label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    margin-right: 20px;
}
textarea{
margin-left: 100px;
}
input[type=submit]{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    background-color:rgb(9, 65, 65);
    cursor: pointer;
    color: azure;
    border-style: none;
    margin-left: 100px;
}
#firstName, #lastName{
    width: 100px;
    margin: 0;
}
input{
    height:auto;
}
.envelope{
    display: flex;
    width: 100%;
}
.rightcol{
width:60%;

}
.leftcol{
    width:40%;
}
.rightcol img{
    width: 100%;
}